{% extends "base.html" %} {% load static %} {% block item %}
<div class="container mx-auto card my-3 border-0">
  <div class="row g-0 align-items-center">
    <div class="col-md-5">
      <div class="card-body">
        <h3>Welcome</h3>
        <h1 class="card-title">MR Restaurant</h1>
        <p class="card-text">
          Discover a Symphony of Flavors at MR Restaurant, where passion meets
          plate. Immerse yourself in a dining experience that transcends the
          ordinary.
        </p>
      </div>
    </div>
    <div class="col-md-7">
      <img
        src="static/img/salad.jpg"
        class="img-fluid rounded-start"
        alt="Banar Img"
      />
    </div>
  </div>
</div>
{% endblock item %}
